<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	    <title>Articles</title>
	</head>
	<body>
	    <h1>Articles</h1>

		<ul>
		    {% for article, key in articles %}
		        <li>{{ article|e }} - {{ key|e }}</li>
		    {% endfor %}
		</ul>
	</body>
</html>